@{
    ViewData["Title"] = "Curriculum";
}

<div class="text-center">
    <h1 class="display-3">Hector Alejandro Franco Berrios.</h1>
    <br><br>
</div>
<hr>
<!-- PRIMERA DIVISION -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    
    <h3 class="display-6">Informacion Personal y contacto.</h3>
    <br>
    <img src="https://scontent.fsal1-1.fna.fbcdn.net/v/t39.30808-6/247679952_1033241893917827_2984786848997331509_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=8Dc12lkGrNQAX-EfK5D&_nc_ht=scontent.fsal1-1.fna&oh=e15a7c329bf55306dacd7746991f2c8f&oe=6181AB7E" 
    class="rounded float-right" 
    alt="Fotografia"
    width="250"
    height="250">
    <br>
    <p class="lead">Direccion: Ciudad Real poniente, calle Elizabeth, polígono E, casa no.6</p>
    <p class="lead">Telefono: 7209-0294</p>
    <p class="lead">correo: hector.franc0@hotmail.com</p>
    <p class="lead">DUI: 06575773-5</p>
    <p class="lead">Codigo de estudiante: SMIS092321</p>
  </div>
</div>
<hr>
<!-- SEGUNDA DIVISION -->
<div class="jumbotron jumbotron-fluid>
  <div class="container">
    <h3 class="display-6 text-center">Formacion Academica.</h3>
    <br><br>
    <table class="table table-striped">
        <thead class="thead-light">
         <tr>
            <th scope="col">Formacion</th>
            <th scope="col">Institucion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Titulo obtenido</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row text-center">Bachiller</th>
            <td class="text-ceneter">Liceo San Miguel</td>
            <td class="text-ceneter">2019 - 2020</td>
            <td class="text-ceneter">Titulo de Bachiller General</td>
        </tr>
        </tbody>
    </table>
    <p class="lead text-center">Actualmente cursando el primer año de ingenieria en sistemas informaticons en la universidad gerardo barrios.</p>
  </div>
</div>
<hr>
<!-- TERCER DIVISION -->
<div class="jumbotron jumbotron-fluid">
  <div class="container container-fluid">
    <h3 class="display-6 text-center">Habilidades y competencias.</h3>
    <ul class="list-group">
        <li class="list-group-item text-center">facilidad para trabajar en equipos</li>
        <li class="list-group-item list-group-item-secondary text-center">Habilidad para dirigir grupos</li>
        <li class="list-group-item text-center">Disponibilidad de horarios</li>
        <li class="list-group-item list-group-item-secondary text-center">Manejo de programas basicos de ofimatica</li>
        <li class="list-group-item text-center">Compromiso e interes con el aprendizaje</li>
        <li class="list-group-item list-group-item-secondary text-center">Nivel de ingles Intermedio - Avanzado</li>
        <li class="list-group-item text-center">Habilidad con el manejo de numeros</li>
    </ul>
  </div>
</div>